<div class="row">
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Override Options
      </div>
      <%= link_to "Edit Transactions", list_transactions_path(organization_id: @organization.id, supervisor_code: @supervisor.code), class: "list-group-item" %>
    </div>
  </div>
</div>