<div class="row">
  <div class="col-md-offset-1 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Purchased Season Tickets
      </div>
      <table class="table">
        <thead>
          <th>Ticket ID</th>
          <th width="30%">Production</th>
          <th>Performance</th>
          <th>Seat</th>
        </thead>
        <tbody>
          <% @season_ticket.tickets.each do |ticket| %>
          <tr>
            <td><%=ticket.id%></td>
            <td><%=ticket.production.title%></td>
            <td><%=ticket.performance.name%></td>
            <td><%=ticket.seat.seat_designation%></td>
          </tr>
          <% end %>
        </tbody>
            
      </table>
      
    </div>
  </div>
</div>
